.section-1 {
  background-color: #54505d;
  max-height: 750px;

  .text-body-container {
    margin-top: 70px;
    padding: 30px;

    .content-text,
    p {
      font-size: 22px;
      font-weight: 500;
    }
  }
}
.section-2 {
  background-color: #d79c39;
  max-height: 750px;
}
