.carusoul-container {
  width: 100%;

  .image {
    //   background-color: ;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;

    &:hover{
      transform: rotate(7.5deg);
      
    }
  }
}
