.carusoul-container {
  border: 1px solid black;
  width: 100%;

  .image {
    //   background-color: ;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}
