.carusoul-container {
  width: 100%;

  .image {
    //   background-color: ;
    height: 400px;
    width: 100%;
    margin: 7px 15px;
    background-size: cover;
    background-position: center;

    &:hover{
      transform: rotate(2deg);
      overflow: hidden;
      
      
    }
  }
}
