
.main-container {
  display: flex;
  flex-direction: column;
  background-color: #42455a;
  height: 100vh;
  .section-title{
     margin: auto;
  }
  .container-content-one{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    .content-one-left-member{
  width: 60%;
  height: 340px;
  display: flex;
  flex-direction: column;
  margin: 7px 70px;
    }
    .content-one-right-member{
      margin-top: 50px;
      height: 600px;
      justify-content: center;
      align-items: center;

      .content-image{
      
        height: 340px;
        border-radius: 8px;
        background-color: transparent;
        opacity: 0.3;     
        
        &:hover{
          box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }
      }
    }
    
  }

  .content-container-contact{
    display: flex;
    left: 0;
    bottom: 0;
    width: 30%;
    
    background: linear-gradient(to right, #49a57e, #a3d9e1 );
  .content-container-three{
    width: 90%;
    height: 70px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 15px;
  }

  .quick-links{
    right: 0px;
    bottom: 0px;
    height: 250px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(to right, #49a57e, #a3d9e1 );
  }
  .arrow{
    right: 0px;
    bottom: 0;
    position: absolute;
    height: 290px;
  }
}

// Button
.button {
  border: 1px solid black;
  width: 150px;
  padding: 10px 20px;
  background-color: #e4ad3e;
  text-decoration: none;
  margin: 0 3px;
  text-align: center;
  font-weight: 700;
  color: black;

  &:hover {
    cursor: pointer;
    background-color: #327657;
    border-color: #e4ad3e;
    text-decoration: none;
    color: wheat;
  }
}

}